<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板</title>
</head>
<body style="padding:0;margin: 0;border: 0;width: 1370px;height: 665px;">
<div th:fragment="layoutrs" style="height: 50px;position: fixed; z-index: 3;top: 0;width: 100%;background-color: white">
  <img src="https://ts1.cn.mm.bing.net/th/id/R-C.d5f90021d5d8d1a2ca06c4d45128f3bc?rik=unUZvYLTmFIN0A&riu=http%3a%2f%2fpic26.nipic.com%2f20130121%2f1767200_094632312112_2.jpg&ehk=0ZheEyOa4MR9RKpR3fe6t1EN%2bjRIo1rOcYABhq5ei4w%3d&risl=&pid=ImgRaw&r=0"
       style="position: absolute;left: 0px;width: 40px;height: 40px;margin-top: 5px;">
  <div style="line-height: 50px;font-size: 40px;color: dodgerblue;float: left;margin-left: 50px;">轩轩旅行网</div>
</div>
</body>
</html>