<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录模板</title>
</head>
<body style="padding:0;margin: 0;border: 0;width: 1370px;height: 665px;">
<div th:fragment="layoutr" style="height: 50px;position: fixed; z-index: 3;top: 0;width: 100%;background-color: white">
  <img src="https://ts1.cn.mm.bing.net/th/id/R-C.d5f90021d5d8d1a2ca06c4d45128f3bc?rik=unUZvYLTmFIN0A&riu=http%3a%2f%2fpic26.nipic.com%2f20130121%2f1767200_094632312112_2.jpg&ehk=0ZheEyOa4MR9RKpR3fe6t1EN%2bjRIo1rOcYABhq5ei4w%3d&risl=&pid=ImgRaw&r=0"
  style="position: absolute;left: 0px;width: 40px;height: 40px;margin-top: 5px;">
  <div style="line-height: 50px;font-size: 40px;color: dodgerblue;float: left;margin-left: 50px;">轩轩旅行网</div>
  <div style="float: right;text-decoration: none;position: relative;">
    <img src="https://img-qn.51miz.com/Element/00/54/91/01/2191ecc2_E549101_cb95aa99.png"style="width: 36px;height: 36px;
      margin-top: 10px;background-size: 30px 30px;position: absolute;left: -325px;background-repeat: no-repeat;">
    <a href="/personal/shoppingCart" style="float: left;margin-left: -285px;text-decoration: none;width: 70px;height: 50px;margin-top:3px;line-height: 50px;color: black;font-weight: bold;">我的订单</a>
  </div>
</div>
</body>
</html>