<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>未登录模板</title>
</head>
<body style="padding:0;margin: 0;border: 0;width: 1370px;height: 665px;">
<div th:fragment="layout" style="height: 50px;position: fixed; z-index: 3;top: 0;width: 100%;background-color: white">
    <img src="https://ts1.cn.mm.bing.net/th/id/R-C.d5f90021d5d8d1a2ca06c4d45128f3bc?rik=unUZvYLTmFIN0A&riu=http%3a%2f%2fpic26.nipic.com%2f20130121%2f1767200_094632312112_2.jpg&ehk=0ZheEyOa4MR9RKpR3fe6t1EN%2bjRIo1rOcYABhq5ei4w%3d&risl=&pid=ImgRaw&r=0"
         style="position: absolute;left: 0px;width: 40px;height: 40px;margin-top: 5px;">
    <div style="line-height: 50px;font-size: 40px;color: dodgerblue;float: left;margin-left: 50px;">轩轩旅行网</div>
    <div style="float: right;text-decoration: none;position: relative;">
        <img src="https://img-qn.51miz.com/Element/00/54/91/01/2191ecc2_E549101_cb95aa99.png"style="width: 36px;height: 36px;
      margin-top: 7px;background-size: 30px 30px;position: absolute;left: -210px;background-repeat: no-repeat;">
        <a href="/personal/shoppingCart" style="float: left;margin-left: -170px;text-decoration: none;width: 70px;height: 50px;margin-top:0px;line-height: 50px;color: black;font-weight: bold;">我的订单</a>
    </div>
    <div style="position: relative;" >
        <a href="/szx/login" style="top: 5px;position: absolute;left: 950px;padding: 5px;width: 90px;height: 30px;background-color: lightcyan;
            border-radius: 15px;border-color: lightcyan;font-size: 20px;text-align: right;line-height: 30px;color: black;text-decoration: none;">请登录</a>
        <img src="https://ts1.cn.mm.bing.net/th/id/R-C.445bd8690f730bae2b1fbb9e68e465bb?rik=HVCejQIiYsYNEA&riu=http%3a%2f%2fbpic.588ku.com%2felement_pic%2f19%2f04%2f05%2f1756673536520ae2d4d8f0b690392b07.jpg&ehk=A0GD%2fM%2fPAs8L6JoWpOARWRrVWksilm6QhqbgqZMCJBs%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1"
            style=" position: absolute;right:407px;top:13px;width: 24px;height: 24px;">
        <a href="/szx/register" style="position: absolute;left: 1100px;text-decoration: none;width: 50px;height: 50px;top:0px;line-height: 50px;color: black;font-weight: bold;">注册</a>
        <a href="/personal/personalcenter" >
            <img src="https://img.ixintu.com/upload/jpg/20210526/67cbeaafe2ebd1f21eea276c5d1c8eba_48016_716_717.jpg!ys"style="position: absolute;right: 50px;width: 30px;height: 30px;top: 10px;">
        </a>
    </div>
</div>
</body>
</html>