<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号验证</title>
    <link rel="stylesheet"  th:href="@{changpassword1.css}">
</head>
<body>
<div class="top">
    <a href="/homepage" class="three">首页</a>
</div>
<div class="center">
    <div class="login">
        <div class="one">第一步</div>
        <form>
            <input placeholder="请输入用户名" name="account" type="text" outline="none" >
            <div id="login">
                <button type="submit">提交</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>