<!DOCTYPE html>
<html lang="en" th:replace="layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{homepage.html}">
</head>
<body th:fragment="content">
<div class="l1">
    <div class="t1">选项菜单</div>
    <form>
        <div class="a">
            <select>
                <option value="t1">城市</option>
                <option value="t2">t1</option>
                <option value="t3">t1</option>
                <option value="t4">t1</option>
                <option value="t5">t1</option>
                <option value="t6">t1</option>
            </select>
        </div>
        <div>
            <select>
                <option value="t1">景点类别</option>
                <option value="t2">t1</option>
                <option value="t3">t1</option>
                <option value="t4">t1</option>
                <option value="t5">t1</option>
                <option value="t6">t1</option>
            </select>
        </div>
        <div>
            <select>
                <option value="t1">游玩天数</option>
                <option value="t2">t1</option>
                <option value="t3">t1</option>
                <option value="t4">t1</option>
                <option value="t5">t1</option>
                <option value="t6">t1</option>
            </select>
        </div>
        <div>
            <select>
                <option value="t1">t1</option>
                <option value="t2">t1</option>
                <option value="t3">t1</option>
                <option value="t4">t1</option>
                <option value="t5">t1</option>
                <option value="t6">t1</option>
            </select>
        </div>
    </form>
</div>
</body>
</html>