<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet"  th:href="@{personalcenter.css}">
</head>
<body>
<div class="top">
  <a href="/homepage" class="three">首页</a>
</div>
<div class="center">
  <div class="userpage">
    <h1 class="one">轩轩efowi</h1>
    <h2>id:4352354</h2>
    <h1>账号：39853425</h1>
    <h1>密码：438ewfu</h1>
    <form>
      <a href="/changpassword1" class="two">修改密码</a>
      <div id="login">
        <button type="submit">退出登录</button>
        <button type="submit">注销账户</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>